@media (max-width: 2500px) {
  ul{
    margin-right: 50px;
  }
   #inp{
    width: 700px;
   }
  .rap{
    display: block;
    position: relative;
    left: 10px;
  }
}
@media  (max-width:1000px) {
  #date{
    margin-left: 20px;
  }
   #inp{
    margin-left: 20px;
    width: 600px;
   }
  .rap{
    display: block;
    position: relative;
    left: 10px;
  }
  ul{
    margin-right: 40px;
  }
}

@media (max-width: 650px) {
   #inp{
    margin-left: 20px;
    width: 400px;
   }
  .rap{
    display: block;
    position: relative;
    left: 10px;
  }
}

@media (max-width: 450px) {
  li{
    padding-bottom: 5px;
  }

  #inp{
    width: 280px;
    margin-bottom: 4px;
    margin-left: 2px;
  }
  .rap{
    display: block;
    position: relative;
    left: 10px;
  }
  ul{
    margin: auto;
  }
  #date{
    margin: auto;
  }
}