@media  (max-width:900px) {
  .todo-con{
    margin-left:50px ;
}
#inp{
  margin-bottom: 10px;
}
}

@media (max-width: 550px) {
  .todo-con{
    margin-left: 20px;
    position: relative;
    left: 0px;
  }
}
/* /*MD-SMALL LAPTOP:>1200PX 
@media (max-width:75rem) {
    html{
        font-size:36.25% ;
    }
    
} */