@media (max-width: 2500px) {
  ul{
    margin-right: 50px;
  }
   #inp{
    width: 700px;
   }
  .rap{
    display: block;
    position: relative;
    left: 10px;
  }
  .elilipsis-link{
    display: block;
    width: 800px;
 }
}
@media  (max-width:1000px) {
  #date{
    margin-left: 20px;
  }
   #inp{
    margin-left: 20px;
    width: 600px;
   }
  .rap{
    margin-right: 300px;
  }
  ul{
    margin-right: 40px;
  }
  .elilipsis-link{
    display: block;
    width: 400px;
 }
}

@media (max-width: 650px) {
   #inp{
    margin-left: 20px;
    width: 400px;
   }
  .rap{
    margin-left: 100px;
  }
  .elilipsis-link{
    display: block;
    width: 400px;
 }

}


@media (max-width: 450px) {
  .elilipsis-link{
    display: block;
    width: 240px;
 }
  li{
    padding-bottom: 5px;
  }

  #inp{
    width: 280px;
    margin-bottom: 4px;
    margin-left: 2px;
  }
  .rap{
    display: block;
    position: relative;
    left: 10px;
  }
  ul{
    margin: auto;
  }
  #date{
    margin: auto;
  }
  .Details-btn{
    left: 10px;
  }
  .Home-btn{
    left: 10px;
  }
  .datim{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  .addtodo{
    margin-left: 20px;
    margin-bottom: 10px;
  }
}