*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: hsl(235, 21%, 11%);
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
}
.background-img{
    display: block;
    width: 100%;
    height: 35vh;
}
.todo-con{
    width: 95%;
    position: absolute;
    top: 12%;
    left: 5%;
}
h1{
    color: white;
    margin-bottom: 5px;
    font-size: 40px;
}
#inp{
    background:hsl(235, 24%, 19%);
    border: none;
    font-size: 15px;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#inp:active{
    background:hsl(235, 24%, 19%) ;
}
#date{
    border: none;
    font-size: 15px;
    height: 27px;
    margin-bottom: 10px;
    border-radius: 2px;
}
#time{
    border: none;
    font-size: 15px;
    height: 27px;
    margin-bottom: 10px;
    border-radius: 2px;
}
.addtodo{
    padding: 5px 10px;
    background-color: hsl(235, 24%, 19%);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 2px;
}
.addtodo:hover{
    background: hsl(237, 13%, 32%);;
}
.del{
    background-color: hsl(235, 24%, 19%);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
}
.del:hover{
    background: hsl(237, 13%, 32%);;
}
.todo-li{
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
    border-bottom: 0.2px solid white;
    position: relative;
    right: 8px;
    list-style: none;
}
.rap{
    display: flex;
    gap: 15px;
}